<p-button (click)="toggleDialog()" label="Add New" />
<p-dialog
  header="Create New Portfolio"
  *ngIf="isBrowser"
  [modal]="true"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }"
  class=""
>
  <div class="p-card p-2">
    <form (ngSubmit)="onSubmit()" #assetForm="ngForm" class="p-fluid">
      <div class="field mb-4">
        <label for="assetName" class="font-semibold text-sm">Portfolio Name</label>

        <input
          pInputText
          id="assetName"
          name="assetName"
          [(ngModel)]="asset.name"
          required
          class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-green-500"
          placeholder="Enter asset name"
          autocomplete="off"
        />
        <small
          *ngIf="assetForm.submitted && !assetForm.controls['assetName']?.valid"
          class="p-error"
        >
          Asset name is required.
        </small>
      </div>

      <div class="field mb-4 space-y-2">
        <label for="category" class="font-semibold mr-4 block text-sm"
          >Category</label
        >
        <p-dropdown
          id="category"
          name="category"
          [(ngModel)]="asset.category"
          [options]="categories"
          optionLabel="name"
          placeholder="Select a category"
          required
        ></p-dropdown>
        <small
          *ngIf="assetForm.submitted && !assetForm.controls['category']?.valid"
          class="p-error"
        >
          Category is required.
        </small>
      </div>

      <div class="field mb-4 space-y-2">
        <label for="purchaseDate" class="font-semibold text-sm block">Purchase Date</label>
        <p-datepicker
          [(ngModel)]="asset.purchaseDate"
          dateFormat="yy-mm-dd"
          showIcon
          name="purchaseDate"
          class="mt-2"
        />

        <small
          *ngIf="
            assetForm.submitted && !assetForm.controls['purchaseDate']?.valid
          "
          class="p-error"
        >
          Purchase date is required.
        </small>
      </div>

      <div class="field mb-4">
        <label for="serialNumber" class="font-semibold text-sm">Serial Number</label>
        <input
          pInputText
          id="serialNumber"
          name="serialNumber"
          [(ngModel)]="asset.serialNumber"
          class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-green-500 focus:border-green-500"
          placeholder="Enter serial number"
          autocomplete="off"
        />
      </div>

      <!-- Asset Value -->
      <div class="field mb-4">
        <label for="value" class="font-semibold text-sm">Asset Value (USD)</label>
        <input
          pInputNumber
          id="value"
          name="value"
          [(ngModel)]="asset.value"
          mode="decimal"
          currency="USD"
          class="w-full mt-1 px-3 py-2 border border-gray-300 rounded-lg focus:outline-green-500 focus:border-green-500"
          placeholder="Enter value"
          required
        />
        <small
          *ngIf="assetForm.submitted && !assetForm.controls['value']?.valid"
          class="p-error"
        >
          Asset value is required.
        </small>
      </div>

      <!-- Buttons -->
      <div class="flex justify-end gap-2">
        <p-button
          label="Cancel"
          severity="secondary"
          (click)="onCancel()"
        ></p-button>
        <p-button
          label="Register"
          type="submit"
          [disabled]="assetForm.invalid"
        ></p-button>
      </div>
    </form>
  </div>
</p-dialog>
