<div class="flex h-screen bg-gray-50">
  <!-- Left Section -->
  <div
    class="w-1/2 flex flex-col justify-center items-center bg-gradient-to-r from-[#DFFFE2] via-[#DFFFE2] to-[#FAFAFA] bg-[length:200%_200%] animate-gradient-x"
  >
    <span class="text-green-600 text-2xl font-bold">FinTo.</span>
    <h1 class="text-4xl font-bold text-gray-800">Manage the job</h1>
    <p class="mt-2 text-gray-600 text-lg">
      More effectively with optimized workflows.
    </p>
  </div>

  <!-- Right Section -->
  <div class="w-1/2 flex flex-col justify-center items-center">
    <div class="max-w-md w-full">
      <h2 class="text-2xl font-semibold text-gray-800">
        Get started absolutely free
      </h2>
      <p class="text-sm text-gray-600 mt-2">
        Already have an account?
        <a routerLink="/signin" class="text-green-600 hover:underline"
          >Sign In</a
        >
      </p>
      <form class="mt-6 space-y-4" (submit)="onSubmit()">
        <!-- First Name -->
        <div>
          <label for="firstName" class="block text-sm font-medium text-gray-700"
            >First name</label
          >
          <input
            type="text"
            id="firstName"
            [(ngModel)]="formData.firstName"
            name="firstName"
            class="w-full mt-1 px-3 py-2 border rounded-lg focus:outline-green-500 focus:border-green-500"
          />
        </div>

        <!-- Last Name -->
        <div>
          <label for="lastName" class="block text-sm font-medium text-gray-700"
            >Last name</label
          >
          <input
            type="text"
            id="lastName"
            [(ngModel)]="formData.lastName"
            name="lastName"
            class="w-full mt-1 px-3 py-2 border rounded-lg focus:outline-green-500  focus:border-green-500"
          />
        </div>

        <!-- Email -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email address</label
          >
          <input
            type="email"
            id="email"
            [(ngModel)]="formData.email"
            name="email"
            class="w-full mt-1 px-3 py-2 border  rounded-lg focus:outline-green-500 focus:border-green-500"
          />
        </div>

        <!-- Password -->
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          <p-password
            name="password"
            [toggleMask]="true"
            [(ngModel)]="formData.password"
            class="w-full"
          />
        </div>

        <div>
          <!-- Submit Button -->
          <p-toast />
          <p-button (onClick)="onSubmit()" label="Sign Up" />
        </div>
      </form>
    </div>
  </div>
</div>
