<div class="">
<app-navbar></app-navbar>
<section class="text-center py-32 h-screen bg-gradient-to-r from-[#DFFFE2] via-[#DFFFE2] to-[#FAFAFA] bg-[length:200%_200%] animate-gradient-x">
    <!-- Heading -->
    <h1 class="text-4xl md:text-6xl font-extrabold text-gray-800">
      Manage your portfolio <br />
      All in one <span class="text-green-600">Place</span>
    </h1>
    <!-- Subheading -->
    <p class="text-gray-600 mt-4">
        Empowering clients to build resilient portfolios through  <br />
        strategic foresight and tailored investment solutions.    </p>
    <!-- Customers -->
    <div class="mt-8 flex justify-center items-center space-x-4">
      <div class="flex -space-x-2">
        <img src="https://plus.unsplash.com/premium_photo-1681487769650-a0c3fbaed85a?q=80&w=1910&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Avatar 1" class="w-10 h-10 rounded-full" />
        <img src="https://images.unsplash.com/photo-1641197861542-83e511654ac0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGZpbmFuY2V8ZW58MHx8MHx8fDA%3D" alt="Avatar 2" class="w-10 h-10 rounded-full" />
        <img src="https://images.unsplash.com/photo-1642576422624-fd0df2b084d3?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZmluYW5jZXxlbnwwfHwwfHx8MA%3D%3D" alt="Avatar 3" class="w-10 h-10 rounded-full" />
      </div>
      <span class="text-gray-700">Aiming to have 160+ Happy customers</span>
    </div>
    <!-- Buttons -->
    <div class="mt-6 flex justify-center space-x-4">
      <button class="bg-black text-white px-6 py-3 rounded shadow-md hover:bg-gray-800">
        Get Started
      </button>
      <button class="border border-gray-300 text-gray-700 px-6 py-3 rounded hover:bg-gray-100">
        Contact Us 
      </button>
    </div>
    <!-- Link -->
    <div class="mt-4">
      <a href="#" class="text-green-600 underline">Get free version</a>
    </div>
  </section>
</div>