<div class="h-screen bg-white shadow-lg flex flex-col py-4 px-6">
  <!-- Logo Section -->
  <div class="flex items-center">
    <div class="text-green-600 text-xl font-bold">FinTo.</div>
  </div>
  <p class="text-lg font-semibold font-barlow text-[#93a0ac] mt-2">Overview</p>

  <!-- Navigation Menu -->
  <div class="flex-1 mt-4 text-[#93a0ac]">
    <div *ngFor="let item of menuItems" class="py-2">
      <div class="flex items-center justify-between">
        <a
          [routerLink]="item.link"
          class="flex items-center text-gray-600 hover:text-blue-500 transition"
        >
          <i [ngClass]="'pi pi-' + item.icon" style="font-size: 1rem"></i>
          <!-- <i class="pi pi-check" style="font-size: 1rem"></i> -->

          <span class="ml-3">{{ item.label }}</span>
        </a>
        <span
          *ngIf="item.badge"
          class="bg-blue-500 text-white text-xs px-2 py-1 rounded-full"
        >
          {{ item.badge }}
        </span>
      </div>
      <div *ngIf="item.subMenus" class="mt-2 ml-6 text-sm text-gray-500">
        <div
          *ngFor="let subItem of item.subMenus"
          class="py-1 hover:text-blue-500"
        >
          <a
            [routerLink]="subItem.link"
            class="flex items-center text-gray-600 hover:text-blue-500 transition"
          >
            <!-- <i class="pi pi-check" style="font-size: 1rem"></i> -->

            <span class="ml-3">{{ subItem.label }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- User Section -->
  <div class="px-4 py-4 border-t">
    <div class="flex items-center">
      <img
        [src]="user.profileImage"
        alt="User Profile"
        class="h-10 w-10 rounded-full"
      />
      <span class="ml-3 text-sm font-medium">{{ user.name }}</span>
    </div>
  </div>
</div>
